* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* impostazioni generali */

body {
    font-family: "Montserrat", sans-serif;
    background-color: whitesmoke;
}

ul {
    list-style: none;
}

input[type="image"] {
    width: 1rem;
}

/* inpostazioni header */

header {
    width: 350px;
    background-color: #000000;
    color: white;
}

header li {
    text-transform: capitalize;
}

header nav > ul:nth-of-type(2) > li:first-child {
    font-variant: small-caps;
}

/* inpostazioni main */

main {
    color: white;
    background-color: #141922;
    overflow: auto scroll;
    width: calc(100% - 350px);
}

main > div {
    background-color: #080b1274;
    align-items: center;
    justify-content: flex-end;
}

main > div:first-child {
    position: sticky;
    top: 0;
    height: 8vh;
}

main > nav {
    padding-top: 8vh;
}

main nav ul {
    justify-content: center;
}

main > nav ul li {
    padding: 1rem;
}

main > div > section div {
    flex-wrap: wrap;
}

main section img {
    width: 12vw;
}

/* inpostazioni footer */

footer {
    width: 100%;
    height: 100px;
    justify-content: space-between;
    background-color: #282828;
    color: white;
}

footer img {
    width: 69px;
}

footer > div {
    width: calc(100% / 3);
    align-items: center;
}

footer > div:nth-child(2) {
    flex-direction: column;
    justify-content: center;
}

footer > div:nth-child(2) > div {
    align-items: center;
}

footer > div:last-child {
    justify-content: flex-end;
}

/* proprietà condivise */

header,
main {
    height: calc(100vh - 100px);
}

/* classi */

.flex {
    display: flex;
}

.collum {
    flex-direction: column;
}

.articleflex{
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: calc(100% / 6);
}

.music-bar {
    align-items: center;
    background-color: #5a5a5a;
    width: 10rem;
    height: .5rem;
}

.music-bar > div {
    height: .5rem;
    width: 25%;
    background-color: #c1c1c1;
}

.music-bar,
.music-bar > div {
    border-radius: 1rem;
}