* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* impostazioni generali */

body {
    max-width: 1955px;
    min-width: 1900px;
    margin: 0 auto;
    background-color: whitesmoke;
}

ul {
    list-style: none;
}

img {
    height: 4rem;
}

input[type="image"] {
    width: 1rem;
}

/* inpostazioni header */

header {
    position: fixed;
    width: 40vh;
    height: 80vh;
    background-color: #000000;
    color: white;
}

header li {
    text-transform: capitalize;
}

header nav > ul:nth-of-type(2) > li:first-child {
    font-variant: small-caps;
}

/* inpostazioni main */

main {
    margin-left: 40vh;
    margin-bottom: 20vh;
}

/* inpostazioni footer */

footer {
    background-color: #282828;
    color: white;
    position: fixed;
    top: 80vh;
    min-width: 1920px;
    height: 20vh;
}

/* classi */

.flex {
    display: flex;
}