* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* impostazioni generali */

body {
    width: 100vw;
    font-family: "Montserrat", sans-serif;
    background-color: whitesmoke;
}

ul {
    list-style: none;
}

input[type="image"] {
    width: 1rem;
}

/* inpostazioni header */

header {
    width: 350px;
    background-color: #000000;
    color: white;
}

header li {
    text-transform: capitalize;
}

header nav > ul:nth-of-type(2) > li:first-child {
    font-variant: small-caps;
}

/* inpostazioni main */

main {
    color: white;
    background-color: #141922;
    overflow: auto scroll;
    width: calc(100% - 350px);
}

main > div {
    height: 8vh;
    background-color: #00000029;
    align-items: center;
    justify-content: flex-end;
}

main > nav {
    padding-top: 8vh;
}

main > nav ul {
    justify-content: center;
}

main > nav ul li {
    padding: 1rem;
}

main > section  div {
    flex-wrap: wrap;
}

/* inpostazioni footer */

footer {
    width: 100%;
    height: 100px;
    background-color: #282828;
    color: white;
}

/* proprietà condivise */

header,
main {
    height: calc(100vh - 100px);
}

/* classi */

.flex {
    display: flex;
}